.home-page-photo {
    width: 200px;
    height: 300px !important;
}

/* Pagination */
.pager .active a{
    background: #444;
    color: #fff;
}

.pager .active a:hover{
    background: #666;
    color: #fff;
}